.projects-wrapper {
    /* height: 50%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: none;
    align-items: center;
    /* margin-top: 2em; */

}
#minor-projects-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 6em;
    /* background-color: red; */
    width: 100%;
}

@media screen and (max-width : 600px) {
    #minor-projects-wrapper {
        flex-direction: column;
        margin-top: 0;
    }
}