
#nav-header {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    z-index: 100;
    padding: 0.7em 0% 0.7em 0.7em ;
}

#nav-header > h1 {
    font-size: 1.9em;
    letter-spacing: 7px;
    font-family: 'Montserrat', sans-serif;
    color:white;
    margin-right: auto;
}

#nav-header > li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 17px;
    color:white;
    text-decoration: none;
    position: relative;
}

#nav-header #nav-large-screen {

    display: flex;
    align-items: center;
    justify-content: center;
}
#nav-header #nav-hamburger-icon {
    display: none;
    color: white
}

#nav-header #nav-large-screen .nav_items {
    list-style: none; 
}

#nav-header #nav-large-screen .nav_items li {
    display: inline-block;
    padding:  0px 80px 0px 0px;
}

#nav-header #nav-large-screen .nav_items li a {
    transition: all 0.3s ease 0s;
}

#nav-header #nav-large-screen .nav_items a:hover {
    /* color: rgb(31, 31, 31); */
}

#nav-header #nav-large-screen #contact {
    color: white;
}

#nav-header #nav-large-screen button, #nav-header .nav-small-screen button {
    padding: 9px;
    color: white;
    font-weight: 500;
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    outline: none;
}
#nav-header .nav-small-screen {
    display: none;
}

.menu-color {
    color: white;
    transition: 0.2s ease-in;
}

/* tablets */
@media screen and (max-width: 1025px) {
    #nav-header h1 {
        font-size: 1.4em;
    }

    #nav-header li, a {
        font-size: 18px;
        margin-right: 0px;
    }

    #nav-header {
        padding: 1em 0px 1em 4%;
    }
    #nav-header .logo {
        width: 10%;
    }
}

@media screen and (min-width: 1025px) {
    #nav-header h1 {
        font-size: 1.4em;

    }

    #nav-header li, a {
        font-size: 15px;
        margin-left: 10px;

    }

    #nav-header {
        padding: 1em 4% 1em 7%;
    }
    #nav-header .logo {
        width: 10%;
    }
}

@media screen and (max-width: 768px) {
    #nav-header h1 {
        font-size: 1.4em;
    }

    #nav-header li, a {
        font-size: 12px;
    }

    #nav-header {
        padding: 1em 0px 1em 4%;
    }
    #nav-header .logo {
        width: 10%;
    }
}

/* phones */
@media screen and (max-width: 660px) {
    #nav-header h1 {
        font-size: 1.4em;
    }

    #nav-header {
        padding: 0.9em 7%;
    }
    #nav-header #nav-large-screen {
        display: none;
    }
    #nav-header #nav-hamburger-icon {
        display: block;
        margin-right: 0.6em;
        z-index: 2;
        position: relative;
        width: 1.8em;
    }
    #nav-header #nav-hamburger-icon div {
        width: 100%;
        height: 3px;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.685);
    }
    #top-bar {
        bottom: 5px;
    }
    #bottom-bar  {
        bottom: -5px;
    }
    #nav-header .nav-small-screen {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        z-index: 1;
    }
    #nav-small-screen-hide {
        display: none !important;
    }
    #nav-header #nav-small-screen-open {
        height: 3vh;
        animation: slideDown 0.3s forwards ease-in;
    }
    #nav-header #nav-small-screen-close {
        height: 100vh;
        animation: slideUp 0.3s forwards ease-out;
    }
    #nav-header .nav-small-screen .nav_items {
        list-style: none; 
        width: 80%;
        padding: 0;
        margin-top: 3.5em;
    }
    #nav-header .nav-small-screen .nav_items li {
        border-bottom: 1px solid white;
        text-align: left;
        margin-bottom: 1.3em;
    }
    #nav-header .nav-small-screen .nav_items li a {
        color: white
    }
    #nav-header .nav-small-screen #close-button {
        color: white;
        position: relative;
        left: 2%;
        font-size: 1.4em;
    }

    #rotate-down-right {
        animation: rotateDownRight 0.3s forwards ease-in;
    }
    #rotate-down-left{
        animation: rotateDownLeft 0.3s forwards ease-in;
    }
    #rotate-up-right{
        animation: rotateUpRight 0.3s forwards ease-out;
    }
    #rotate-up-left{
        animation: rotateUpLeft 0.3s forwards ease-out;
    }

    @keyframes slideDown {
        0% {opacity: 0; }
        20% { opacity: 1; }
        100% { height: 100vh;}
    }

    @keyframes slideUp {
        0% {}
        80% { opacity: 1; }
        100% { height: 0vh; opacity: 0; z-index: -1; }
    }
    @keyframes rotateDownRight {
        from {transform: rotate(0deg); bottom: 5px}
        to {transform: rotate(45deg); bottom: 0px}
    }
    @keyframes rotateDownLeft {
        from {transform: rotate(0deg); bottom: -5px}
        to {transform: rotate(-45deg); bottom: 0px}
    }
    @keyframes rotateUpRight {
        from {transform: rotate(45deg); bottom: 0px}
        to {transform: rotate(0deg); bottom: 5px}
    }
    @keyframes rotateUpLeft {
        from {transform: rotate(-45deg); bottom: 0px}
        to {transform: rotate(0deg);bottom: -5px}
    }
}
@media screen and (orientation: landscape) and (max-width: 900px){
    #nav-header > li, a {
        font-size: 1.8vw; 
    }
    #nav-header #nav-large-screen .nav_items li {
        padding: 0px 40px 0px 0px;
    }
}

