.showcase-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap:1px;
    margin-top: 0em;
}
/*phones*/
@media screen and (max-width: 600px){
    .showcase-wrapper{
        grid-template-columns: auto;
    }
}
